
textarea {
  background-color: #121212;
  color: #E7E7E7;
  border-color: #595959;
  border-radius: 2px;
  resize: none;
  padding: 0 8px;
}

textarea:focus {
  background-color: #121212;
  color: #E7E7E7;
  outline: none;
  box-shadow: none;
  border: 1px solid #36B1B5;
  -webkit-box-shadow: none;
}