.cm-s-monokai.CodeMirror {
  background-color: transparent !important;
}

.CodeMirror {
  height: auto !important;
}


div.CodeMirror-scroll {
  overflow: hidden !important;
}
/*div.CodeMirror-scroll {*/
/*  height: auto !important;*/
/*  overflow: auto !important;*/
/*  margin-bottom: auto !important;*/
/*  margin-right: auto !important;*/
/*  padding-bottom: 4px !important;*/
/*  outline: none !important;*/
/*  position: relative;*/
/*}*/

/*.CodeMirror-sizer {*/
/*  min-height: auto !important;*/
/*}*/